.blog-card {
  background-size: cover;
  background-position: center;
  height: 300px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);

}

.blog-title {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.black-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#002f4b, #434343);
  opacity: .3;
}

.blog-href {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}
